@page
@model AgenciaTurismo.Pages_Pacotes.CreateModel

@{
    ViewData["Title"] = "Cadastrar Novo Pacote Turístico";
}

<h1 class="page-header">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="mb-3">
                        <label asp-for="PacoteTuristico.Titulo" class="form-label fw-bold"></label>
                        <input asp-for="PacoteTuristico.Titulo" class="form-control" />
                        <span asp-validation-for="PacoteTuristico.Titulo" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="PacoteTuristico.DataInicio" class="form-label fw-bold"></label>
                        <input asp-for="PacoteTuristico.DataInicio" class="form-control" />
                        <span asp-validation-for="PacoteTuristico.DataInicio" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="PacoteTuristico.Preco" class="form-label fw-bold"></label>
                        <input asp-for="PacoteTuristico.Preco" class="form-control" />
                        <span asp-validation-for="PacoteTuristico.Preco" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="PacoteTuristico.DestinoId" class="form-label fw-bold">Destino</label>
                        <select asp-for="PacoteTuristico.DestinoId" class="form-control" asp-items="ViewBag.DestinoId">
                            <option value="">-- Selecione um Destino --</option>
                        </select>
                        <span asp-validation-for="PacoteTuristico.DestinoId" class="text-danger"></span>
                    </div>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a asp-page="Index" class="btn btn-secondary">Voltar para a Lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
