<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Angle Turismo</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AgenciaAngleTurismo.styles.css" asp-append-version="true" />

    <style>
        html {
            font-size: 16px;
        }

        @@media (min-width: 768px) {
            html {
                font-size: 18px;
            }
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <strong>Angle Turismo</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown text-white">
                            <a class="nav-link dropdown-toggle text-white href="#" id="navbarDropdownClientes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Clientes
                            </a>
                            <ul class="dropdown-menu text-white" aria-labelledby="navbarDropdownClientes">
                                <li><a class="dropdown-item" asp-area="" asp-page="/Clientes/Index">Listar Clientes</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Clientes/Create">Criar Cliente</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white  href="#" id="navbarDropdownDestinos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Destinos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownDestinos">
                                <li><a class="dropdown-item" asp-area="" asp-page="/Destinos/Index">Listar Destinos</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Destinos/Create">Criar Destino</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white  href="#" id="navbarDropdownDestinos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Pacotes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownPacotes">
                                <li><a class="dropdown-item" asp-area="" asp-page="/Pacotes/Index">Listar Pacotes</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Pacotes/Create">Criar Pacote</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white href="#" id="navbarDropdownDestinos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Reservas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownReservas">
                                <li><a class="dropdown-item" asp-area="" asp-page="/Reservas/Index">Listar Reservas</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Reservas/Create">Criar Reserva</a></li>
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3 pt-4">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-light">
        <div class="container">
            &copy; @DateTime.Now.Year - Angle Turismo - <a asp-area="" asp-page="/Privacy">Política de Privacidade</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>